<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Break stub responses</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <style>
      .btn.active,
      .btn:active {
        background-color: #e67416 !important;
      }
    </style>
  </head>
  {{$scenarios := .scenarios}} {{$hardFaults := .hardFaults}}
  <body>
    <div class="container">
      <div class="row mx-auto" style="width: 300px;">
        <h1>Error Injection</h1>
      </div>
      <div class="row justify-content-center">
        {{range $name, $s := $scenarios}}
        <div class="card col-sm-6 mx-1 mb-2" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">{{ $s.Title }}</h5>
            <p class="card-text">{{ $s.Description }}</p>
            <div class="card-footer">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <form method="post" action=".">
                    <input type="hidden" name="scenario" value="{{ $name }}" />
                    <input
                      type="submit"
                      value="Undefined Error"
                      class="btn btn-outline-warning"
                      onclick="this.classList.add('active');"
                    />
                  </form>
                </li>
                {{range $err := $hardFaults}}
                <li class="list-group-item">
                  <form method="post" action=".">
                    <input type="hidden" name="hard" value="{{ $err }}" />
                    <input type="hidden" name="scenario" value="{{ $name }}" />
                    <input
                      type="submit"
                      value="{{ $err }}"
                      class="btn btn-outline-danger"
                      onclick="this.classList.add('active');"
                    />
                  </form>
                </li>
                {{end}}
              </ul>
            </div>
          </div>
        </div>
        {{end}}
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
